@*@model Lms.Core.Models.ViewModels.StudentCourseViewModel
@using Lms.Web.Extensions

<br />
<h4>@Html.DisplayFor(model => model.CourseName)</h4>
<hr />

<div class="card-deck">

    <div class="card border-0">        
        <div> <strong> @Html.DisplayNameFor(model => model.CourseStartDate) </strong> </div>  
        <div> @Html.DisplayFor(model => model.CourseStartDate) </div>
        <div><strong> @Html.DisplayNameFor(model => model.CourseEndDate) </strong></div>       
        <div> @Html.DisplayFor(model => model.CourseEndDate) </div>
    </div>

    <div class="card border-0">
        <div> <strong> @Html.DisplayNameFor(model => model.CourseDescription) </strong> </div>
        <div> @Html.DisplayFor(model => model.CourseDescription) </div>
    </div>


    <div class="card border-0">       
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Documents)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Documents.Where(a => a.ActivityId == null && a.ModuleId == null && a.CourseId != null))
                {
                <tr>
                    <td> @Html.ActionLink(item.Name, "DownloadFile", "Download", new { filePath = item.HashName }, null) </td>              
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div>
    @if (User.IsInRole("Teacher"))
    {
        @using (Html.BeginFormActivity("TeacherUploadFilesForCourse", "Upload", new { courseId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">

                <div class="form-group uploadButtonGroup">
                    <div class="uploadButtonContainer">
                        <input type="file" class="upload-box" multiple name="files" id="Files" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Upload" class="btn btn-sm btn-primary submitButton" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-success">
                        @ViewBag.UploadStatus
                    </div>
                </div>

            </div>
        }
    }
</div>

<div class="delete">
    @if (User.IsInRole("Teacher"))
    {
        <a class="btn btn-sm btn-success" asp-controller="Courses" asp-action="Edit" asp-route-id="@ViewData["CourseId"]">Edit</a>
        <a class="btn btn-sm btn-danger" asp-controller="Courses" asp-action="Delete" asp-route-id="@ViewData["CourseId"]">Delete</a>
    }
</div>*@