@model IEnumerable<Lms.Core.Models.ViewModels.StudentCommonCourseViewModel>

<br />
<h4>Participants</h4>

<section class="container">
    <section class="row">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.StudentName)         </th>
                    <th> @Html.DisplayNameFor(model => model.Email)    </th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var item in Model)
                {
                <tr>
                    <td><span>@i. </span>  @Html.DisplayFor(modelItem => item.StudentName)               </td>
                    <td> @Html.DisplayFor(modelItem => item.Email)               </td>
                    @if (User.IsInRole("Teacher"))
                    {
                        <td> <a class="btn btn-sm btn-primary" asp-controller="Students" asp-action="Edit" asp-route-Id="@ViewData["Id"]">Edit</a></td>
                        <td> <a class="btn btn-sm btn-primary" asp-controller="Students" asp-action="Delete" asp-route-Id="@ViewData["Id"]">Delete</a></td>
                        <td> <a class="btn btn-sm btn-primary" asp-controller="Students" asp-action="Details" asp-route-Id="@ViewData["Id"]">Details</a></td>
                    }
                </tr>
                    {
                        i++;
                    }
                }
            </tbody>
        </table>

    </section>
</section>
