@using Lms.Web.Extensions
@model Lms.Core.Models.ViewModels.StudentActivityViewModel

<h4 id="StudentActivityViewTitle"> @Html.DisplayFor(model => model.ActivityName) </h4>
<hr />

<section class="container">
    <section class="row">
        <div id="activityDi">
            @if (User.IsInRole("Student") && (Model.ActivityTypes.TypeName == "Assignment"))
            {
                @using (Html.BeginFormActivity("UploadFiles", "Upload", new { activityId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">

                        <div class="form-group uploadButtonGroup">
                            <div class="uploadButtonContainer">
                                <input type="file" class="upload-box" multiple name="files" id="Files" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Upload" class="btn btn-sm btn-primary submitButton" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-success">
                                @ViewBag.UploadStatus
                            </div>
                        </div>
                    </div>
                }
            }


            @if (User.IsInRole("Teacher"))
            {
                @using (Html.BeginFormActivity("UploadFiles", "Upload", new { activityId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">

                        <div class="form-group uploadButtonGroup">
                            <div class="uploadButtonContainer">
                                <input type="file" class="upload-box" multiple name="files" id="Files" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Upload" class="btn btn-sm btn-primary submitButton" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-success">
                                @ViewBag.UploadStatus
                            </div>
                        </div>
                    </div>
                }
            }


        </div>

        <div class="activityDetailsForStudent">
            <div>    <strong> @Html.DisplayNameFor(model => model.ActivityStartDate) </strong>   </div>
            <div> @Html.DisplayFor(model => model.ActivityStartDate) </div>

            <div>     <strong> @Html.DisplayNameFor(model => model.ActivityEndDate) </strong>    </div>
            <div> @Html.DisplayFor(model => model.ActivityEndDate) </div>

            <div>
                @if (Model.ActivityTypes.TypeName == "Assignment")
                {
                    <div>     <strong> @Html.DisplayNameFor(model => model.ActivityDeadline) </strong>    </div>
                    <div> @Html.DisplayFor(model => model.ActivityDeadline) </div>
                }
            </div>
        </div>

        <div class="activityDetailsForStudent" id="activityDetailsTypeAndStatusForStudent">
            <div>
                <strong> @Html.DisplayNameFor(model => model.ActivityTypes.TypeName) </strong>
            </div>
            <div> @Html.DisplayFor(model => model.ActivityTypes.TypeName) </div>


            @if (Model.ActivityTypes.TypeName == "Assignment")
            {
                <div> <strong> @Html.DisplayNameFor(model => model.Status) </strong> </div>
                <div> @Html.DisplayFor(model => model.Status) </div>
            }
        </div>


        <div class="activityDetailsForStudent">
            <div>
                <strong> @Html.DisplayNameFor(model => model.ActivityDescription) </strong>
            </div>
            <div> @Html.DisplayFor(model => model.ActivityDescription) </div>
        </div>



        <div style="float:none">
            <table class="table">
                <thead>
                    <tr> <th>Description for the activity:</th>  </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Documents)
                    {
                        @if (item.ApplicationUserId == null)
                        {
                            <tr> <td>  @Html.ActionLink(item.Name, "DownloadFile", "Download", new { filePath = item.HashName }, null)  </td> </tr>

                        }
                    }
                </tbody>
            </table>
        </div>

    


                <div style="float:none">
                    <table class="table">
                        <thead>
                            <tr> <th>Uploaded assignment:</th>  </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Documents)
                            {
                                @if (item.ApplicationUserId != null)
                                {
                                    @if (User.IsInRole("Student") && (item.ApplicationUserId == Model.UserId))
                                    {
                                        <tr> <td> @Html.ActionLink(item.Name, "DownloadFile", "Download", new { filePath = item.HashName }, null) </td> </tr>
                                    }

                                    @if (User.IsInRole("Teacher"))
                                    {
                                        <tr> <td> @Html.ActionLink(item.Uploader, "DownloadFile", "Download", new { filePath = item.HashName }, null) </td> </tr>
                                    }

                                }

                                @if (item.Activity.ActivityType.TypeName != "Assignment")
                                {
                                    <tr> <td> No assignment is required for this activity. </td> </tr>
                                }

                            }
                        </tbody>

                    </table>
                </div>
        





        </section>
</section>

<div class="delete">
    @if (User.IsInRole("Teacher"))
    {
        <a class="btn btn-sm btn-success" asp-controller="Activities" asp-action="Edit" asp-route-id="@ViewData["ActivityId"]">Edit</a>
        <a class="btn btn-sm btn-danger" asp-controller="Activities" asp-action="Delete" asp-route-id="@ViewData["ActivityId"]">Delete</a>
    }
</div>