@model Lms.Core.Models.ViewModels.StudentModuleViewModel

 
    <h4 id="StudentModuleViewTitle"> @Html.DisplayFor(model => model.ModuleName)  </h4>  
    <hr />
    <div >

        <div >          
                <dl class="row">                   
                    <dt class="col-sm-10">  @Html.DisplayNameFor(model => model.ModuleDescription) : </dt>
                    <dd class="col-sm-10"> @Html.DisplayFor(model => model.ModuleDescription)      </dd>
                </dl>            
        </div>



      <div >                           
                <table>        
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.Activities) </th>                           
                            <th>  Start date     </th>                        
                            <th>  End date       </th>                         
                            <th>  Status         </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Activities)
                        {
                            <tr>
                                <td>   @Html.DisplayFor(modelItem => item.ActivityType.TypeName) </td>
                                <td>   @Html.DisplayFor(modelItem => item.StartDate)             </td>
                                <td>   @Html.DisplayFor(modelItem => item.EndDate)               </td>
                                <td>   @Html.DisplayFor(modelItem => item.EndDate)               </td>
                            </tr>
                        }
                    </tbody>
                </table>           
        </div>



      <div >          
              <strong>Module documents:</strong>  
                      @foreach (var item in Model.Documents)
                      {                         
                                @Html.DisplayFor(modelItem => item.Name)                            
                      }        
             
          </div>
      </div>
