@*@model Lms.Core.Models.ViewModels.StudentCourseViewModel
@using Lms.Web.Extensions*@


@{
    ViewData["Title"] = "Index";
}
<h1 id="StudentTitle">Welcome Student!</h1>

<div style="text-align:center">
    <img src="~/img/download (3).jpg" alt="logo" />
</div>
<br />
<br />
<div>
    @{
        await Html.RenderPartialAsync("WeekSchema");
    }
</div>
<br />
<br />



<a class="btn btn-sm btn-primary buttonsOnIndexPageForStudent" asp-controller="Courses" asp-action="CourseDetails"
       data-ajax="true"
       data-ajax-method="GET"
       data-ajax-update="#getCourseWithAjax"
       data-ajax-mode="replace">
        Course information
    </a>


<a class="btn btn-sm btn-primary buttonsOnIndexPageForStudent" asp-controller="Students" asp-action="CourseStudentsDetails"
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-update="#getCourseWithAjax"
   data-ajax-mode="replace">
    Participants
</a>


<a class="btn btn-sm btn-primary buttonsOnIndexPageForStudent" asp-controller="Modules" asp-action="ModuleList"
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-update="#getCourseWithAjax"
   data-ajax-mode="replace">Module information</a>




<div id="getCourseWithAjax"></div>
<br />




@*<br />
<h4>@Html.DisplayFor(model => model.CourseName)</h4>
<hr />

<div class="card-deck">

    <div class="card border-0">
        <div> <strong> @Html.DisplayNameFor(model => model.CourseStartDate) </strong> </div>
        <div> @Html.DisplayFor(model => model.CourseStartDate) </div>
        <div><strong> @Html.DisplayNameFor(model => model.CourseEndDate) </strong></div>
        <div> @Html.DisplayFor(model => model.CourseEndDate) </div>
    </div>


    <div class="card border-0">
        <div> <strong> @Html.DisplayNameFor(model => model.CourseDescription) </strong> </div>
        <div> @Html.DisplayFor(model => model.CourseDescription) </div>
    </div>


    <div class="card border-0">
        <div> <strong> @Html.DisplayNameFor(model => model.Documents) </strong> </div>
        <table class="table">
            <tbody>
                @foreach (var item in Model.Documents.Where(a => a.ActivityId == null && a.ModuleId == null && a.CourseId != null))
                {
                    <tr> @Html.ActionLink(item.Name, "DownloadFile", "Download", new { filePath = item.HashName }, null) </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@