@model Lms.Core.Models.ViewModels.StudentModuleViewModel


<div class="row row-cols-1 row-cols-md-3 g-4">


    <div class="col">
        <div class="card h-100">
            <dl class="row">
                <dt class="col">  @Html.DisplayNameFor(model => model.ModuleDescription)  </dt>
                <dd class="col"> @Html.DisplayFor(model => model.ModuleDescription)      </dd>
            </dl>
        </div>
    </div>


    <div class="col">
        <div class="card h-100">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Activities)
                        </th>
                        <th>
                            Start date
                        </th>
                        <th>
                            End date
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Activities)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
    <div class="col">
        <div class="card h-100">
          
            <dl class="row">
                <dt class="col">  @Html.DisplayNameFor(model => model.Documents)  </dt>
                <dd class="col"> @Html.DisplayFor(model => model.Documents)      </dd>
            </dl>
         
        </div>
    </div>
</div>


  
















