@page
@using System.Reflection;
@model RegisterStudentModel
@{
    ViewData["Title"] = "Register Student";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["UserNameAndCourse"] != null)
{
    var message = (string[])TempData["UserNameAndCourse"];
    <div class="alert alert-success" id="sucess-alert">
        <strong>Sucess!</strong>
        <div>
            <p>
                The student account for <b>@message[0]</b> was succesfully created, and added to the <b>@message[1]</b> course!
            </p> 
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="register-student-form">
            <h4>Create a new Student account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CourseId">Select a course</label>
                <select asp-for="Input.CourseId" class="form-control">
                    @foreach (var Course in RegisterStudentModel.Courses)
                    {
                        <option value="@Course.Id">@Course.Name</option>
                    }
                </select>
            </div>
            <button name="btn-student-register" type="submit" class="btn btn-primary">Register</button>

        </form>
        <br />
        <p>
            <a asp-controller="Home" asp-action="Index">
                <input type="button" class="btn" value="Home" />
            </a>
        </p>
    </div>
    <div class="col-lg-6 offset-lg-2">
        <section>
            <img src="https://media.istockphoto.com/vectors/pen-drawing-a-pile-of-books-vector-id483447982" style="display: block; width: 100%; height: auto;" />
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
